<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center justify-center gap-4 w-full">
    @for (field of [{id: 'username', type: 'text', label: 'Username', autocomplete: 'username'}, {id: 'password', type: 'password', label: 'Password', autocomplete: 'new-password'}]; track field.id) {
        <div class="flex flex-col gap-1">
            <p-floatlabel>
                <input pInputText [id]="field.id" [type]="field.type" [formControlName]="field.id" [invalid]="isInvalid(field.id)" [autocomplete]="field.autocomplete" />
                <label for="field.id">{{field.label}}</label>
            </p-floatlabel>
            @if (isInvalid(field.id)) {
                @if (form.get(field.id)?.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">{{field.label}} is required.</p-message>
                }
            }
        </div>
    }
    
    <button pButton severity="secondary" type="submit"><span pButtonLabel>Sign in</span></button>
</form>