<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '35rem', height: '35rem' }">
    <ng-template #header>
        <div class="flex justify-between w-full mr-4">
            <p-inplace class="flex items-center">
                <ng-template #display>
                    <h2>{{!task().name?.length ? 'Unnamed Task' : task().name}}</h2>
                </ng-template>
                <ng-template #content let-closeCallback="closeCallback">
                    <span class="inline-flex items-center gap-2">
                        <form #form="ngForm" (ngSubmit)="onSubmit('name', task().name)" class="flex flex-col gap-4">
                            <div class="flex items-center gap-2">
                                <input name="name" pInputText type="text" [(ngModel)]="task().name" [pAutoFocus]="true" />
                                <p-button severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                            </div>
                        </form>
                    </span>
                </ng-template>
            </p-inplace>

            <p-inplace class="flex items-center" [disabled]="states.error() ? true : false">
                <ng-template #display>
                    <span [ngStyle]="{'background-color': task().state?.color + '88'}" class="tag">{{task().state?.name}}</span>
                </ng-template>
                <ng-template #content let-closeCallback="closeCallback">
                    <span class="inline-flex items-center gap-2">
                        <form #form="ngForm" (ngSubmit)="onSubmit('state', task().state)" class="flex flex-col gap-4">
                            <div class="flex items-center gap-2">
                                <p-select name="state" size="small" [options]="states.value()" [loading]="states.isLoading()" [(ngModel)]="task().state" placeholder="State">
                                    <ng-template #selectedItem let-selectedState>
                                        <span [ngStyle]="{'background-color': selectedState.color + '88'}" class="tag">{{selectedState.name}}</span>
                                    </ng-template>
                                    <ng-template let-state #item>
                                        <span [ngStyle]="{'background-color': state.color + '88'}" class="tag">{{state.name}}</span>
                                    </ng-template>
                                </p-select>
                                <p-button type="submit" size="small" severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                            </div>
                        </form>
                    </span>
                </ng-template>
            </p-inplace>
        </div>
    </ng-template>

    <!--TODO Description textarea-->

    <p-fieldset legend="Tags">
        <div class="flex flex-wrap w-full">
            @for (tag of task().tags; track tag.id) {
                <p-inplace class="flex items-center">
                    <ng-template #display>
                        <p-chip class="!py-0 !pl-0 !pr-4">
                            <span [ngStyle]="{'background-color': tag.color}" class="bg-primary text-primary-contrast rounded-full w-8 h-8 flex items-center justify-center"></span>
                            <span class="ml-2">{{tag.name}}</span>
                        </p-chip>
                    </ng-template>
                    <ng-template #content let-closeCallback="closeCallback">
                        <span class="inline-flex items-center gap-2">
                            <form #form="ngForm" (ngSubmit)="onSubmit('tag', tag, () => closeCallback($event))" class="flex flex-col gap-4">
                                <div class="flex items-center gap-2">
                                    <p-chip [removable]="true" (onRemove)="onDelete('tag', tag)">
                                        <p-colorpicker name="color" [(ngModel)]="tag.color" #model="ngModel" />
                                        <input class="ml-2" name="name" pInputText type="text" [(ngModel)]="tag.name" [pAutoFocus]="true" />
                                    </p-chip>
                                    
                                    <p-button type="submit" severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                                </div>
                            </form>
                        </span>
                    </ng-template>
                </p-inplace>
            }

            <p-inplace class="flex items-center">
                <ng-template #display>
                    <p-button icon="pi pi-plus" size="small" />
                </ng-template>
                <ng-template #content let-closeCallback="closeCallback">
                    <span class="inline-flex items-center gap-2">
                        <form #form="ngForm" (ngSubmit)="onSubmit('tagToAdd', tagToAdd())" class="flex flex-col gap-4">
                            <div class="flex items-center gap-2">
                                <p-chip [removable]="true" (onRemove)="closeCallback($event)">
                                    <p-colorpicker name="tagToAddColor" [(ngModel)]="tagToAdd().color" #model="ngModel" />
                                    <input class="ml-2" name="tagToAddName" pInputText type="text" [(ngModel)]="tagToAdd().name" [pAutoFocus]="true" />
                                </p-chip>
                                
                                <p-button type="submit" severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                            </div>
                        </form>
                    </span>
                </ng-template>
            </p-inplace>
        </div>
    </p-fieldset>

    <h3 class="my-4 mb-2">Related</h3>

    <div class="flex flex-wrap justify-baseline gap-4">
        <div class="rounded p-3 shadow-md dark:shadow-sm dark:shadow-gray-500">
            <h4>Projects</h4>

            @if (fullTask.isLoading()) {
                Loading...
            } @else if (fullTask.hasValue()) {
                <p-inplace class="flex items-center" [disabled]="projects.error() ? true : false">
                    <ng-template #display>              
                        <ul>
                            @for (project of fullTask.value().projects; track project.id) {
                                <li class="flex gap-2 items-center m-1">
                                    <span [ngStyle]="{'background-color': project.color}" class="w-4 h-4 rounded-full shrink-0"></span>
                                    <span>{{project.name}}</span>
                                </li>
                            } @empty {
                                <li>No related projects</li>
                            }
                        </ul>
                    </ng-template>
                    <ng-template #content let-closeCallback="closeCallback">
                        <form #form="ngForm" (ngSubmit)="onSubmit('projects', fullTask.value().projects)" class="flex gap-4 w-full">
                            <p-multiselect name="projects" class="w-56" size="small" [options]="projects.value()" [loading]="projects.isLoading()" [(ngModel)]="fullTask.value().projects" placeholder="Projects">
                                <ng-template #selecteditems let-selectedProjects>
                                    @for (selectedProject of selectedProjects; track selectedProject.id) {
                                        <div class="flex gap-2 items-center m-1">
                                            <span [ngStyle]="{'background-color': selectedProject.color}" class="w-4 h-4 rounded-full shrink-0"></span>
                                            <span>{{selectedProject.name}}</span>
                                        </div>
                                    }
                                </ng-template>
                                <ng-template let-project #item>
                                    <div class="flex gap-2 items-center">
                                        <span [ngStyle]="{'background-color': project.color}" class="w-4 h-4 rounded-full shrink-0"></span>
                                        <span>{{project.name}}</span>
                                    </div>
                                </ng-template>
                            </p-multiselect>
                            <p-button type="submit" size="small" severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                        </form>
                    </ng-template>
                </p-inplace>
            }
        </div>

        <div class="rounded p-3 shadow-md dark:shadow-sm dark:shadow-gray-500">
            <h4>Tasks</h4>

            <p-inplace class="flex items-center" [disabled]="otherTasks.error() ? true : false">
                <ng-template #display>              
                    <ul>
                        @for (rTask of task().dependencies; track rTask.id) {
                            <li class="flex gap-2 items-center m-1">
                                <span>{{rTask.name}}</span>
                                <span  [ngStyle]="{'border-color': rTask.state?.color + '88'}" class="p-1 rounded text-xs uppercase border-2">{{rTask.state?.name}}</span>
                            </li>
                        } @empty {
                            <li>No related tasks</li>
                        }
                    </ul>
                </ng-template>
                <ng-template #content let-closeCallback="closeCallback">
                    <form #form="ngForm" (ngSubmit)="onSubmit('dependencies', task().dependencies)" class="flex items-center gap-4 w-full">
                        <p-multiselect name="dependencies" class="w-56" size="small" [options]="otherTasks.value()" [loading]="otherTasks.isLoading()" [(ngModel)]="task().dependencies" placeholder="Dependencies">
                            <ng-template #selecteditems let-selectedDependencies>
                                @for (selectedDependency of selectedDependencies; track selectedDependency.id) {
                                    <div class="flex gap-2 items-center m-1">
                                        <span>{{selectedDependency.name}}</span>
                                        <span [ngStyle]="{'border-color': selectedDependency.state.color + '88'}" class="p-1 rounded text-xs uppercase border-2">{{selectedDependency.state.name}}</span>
                                    </div>
                                }
                            </ng-template>
                            <ng-template let-dependency #item>
                                <div class="flex gap-2 items-center">
                                    <span>{{dependency.name}}</span>
                                        <span [ngStyle]="{'border-color': dependency.state.color + '88'}" class="p-1 rounded text-xs uppercase border-2">{{dependency.state.name}}</span>
                                </div>
                            </ng-template>
                        </p-multiselect>
                        <p-button type="submit" size="small" severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                    </form>
                </ng-template>
            </p-inplace>
        </div>
    </div>

    <h3 class="mt-4 mb-2">Timer</h3>

    @if (fullTask.isLoading()) {
        <p>Loading...</p>
    } @else if (fullTask.hasValue()) {
        <div #pip class="flex flex-wrap justify-evenly gap-6 rounded p-4 shadow-md dark:shadow-sm dark:shadow-gray-500 shrink-0 relative">
            <p-button severity="contrast" [outlined]="true" class="absolute right-0 top-0" icon="pi pi-window-minimize" (onClick)="onPipOpen(pip)"></p-button>

            <button (click)="currentChronometerPartPlaying.update(prev => !prev)" [ngStyle]="{'background-color': task().state?.color + '88', 'border-width': currentChronometerPartPlaying() ? 0 : '.85rem', 'color': 'var(--p-text-color)'}" class="rounded-full block w-40 h-40 relative cursor-pointer">
                <i [class]="'pi pi-play'" style="font-size: 3rem"></i>
                
                @if (currentChronometerPartPlaying()) {
                    <i class="pi pi-spinner absolute left-0 top-0" style="font-size: 10rem; animation: fa-spin 60s infinite linear;"></i>
                }
            </button>

            <div class="grow">
                <span [ngStyle]="{'background-color': task().state?.color + '88'}" class="m-2 p-2 rounded whitespace-nowrap">{{(currentChronometerPart().seconds - currentChronometerPart().seconds % 60) / 60}}m {{currentChronometerPart().seconds % 60}}s</span>

                <p-inplace class="flex items-center">
                    <ng-template #display>
                        <p class="wrap-anywhere">{{!currentChronometerPart().description.length ? 'What is being done ?' : currentChronometerPart().description}}</p>
                    </ng-template>
                    <ng-template #content let-closeCallback="closeCallback">
                        <span class="inline-flex items-center gap-2">
                            <form #form="ngForm" (ngSubmit)="onSubmit('chronometerPartDescription', currentChronometerPart().description)" class="flex flex-col gap-4">
                                <div class="flex items-center gap-2">
                                    <textarea name="chronometerPartDescription" rows="5" cols="20" [(ngModel)]="currentChronometerPart().description" pTextarea required [autoResize]="true" [pAutoFocus]="true"></textarea>
                                    <p-button severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></p-button>
                                </div>
                            </form>
                        </span>
                    </ng-template>
                </p-inplace>
            </div>            
        </div>

        <ul class="my-6">
            @for (chronometerPart of fullTask.value().chronometer?.parts ?? []; track chronometerPart.id) {
                <li class="flex gap-4 items-baseline">
                    <span [ngStyle]="{'border-color': task().state?.color + '88'}" class="p-2 rounded border whitespace-nowrap">{{(chronometerPart.seconds - chronometerPart.seconds % 60) / 60}}m {{chronometerPart.seconds % 60}}s</span>
                    <p>{{chronometerPart.description}}</p>
                </li>

                @if (!$last) {
                    <p-divider />
                }
            }
        </ul>
    }
</p-dialog>