<main class="flex flex-col items-center self-center m-8 gap-4">
    <h1>Dashboard</h1>

    @if(projects.error()) {
        <p>Can't find projects</p>
    } @else if (projects.isLoading()) {
        <p>Loading projects...</p>
    } @else if (projects.hasValue()) {
        <div class="flex justify-evenly w-1/2"><h2>Projects</h2><a class="p-button" routerLink="/project"><i class="pi pi-plus"></i></a></div>

        <div class="w-1/2 max-h-48 overflow-y-auto">
            <p-dataview [value]="projects.value()">
                <ng-template #list let-items>
                    @for (item of items; track item.id) {
                        @if(!$first) {
                            <p-divider />
                        }

                        <p-card class="max-w-3xl">
                            <a class="flex items-center gap-4" [routerLink]="['/', 'project', item.id]">
                                <span [ngStyle]="{'background-color': item.color}" class="w-4 h-4 rounded-full shrink-0"></span>
                                <span class="shrink-0">{{item.name}}</span>
                            </a>
                        </p-card>
                    }
                </ng-template>
            </p-dataview>
        </div>
    }

    @if(tasks.error()) {
        <p>Can't find tasks</p>
    } @else if (tasks.isLoading()) {
        <p>Loading tasks...</p>
    } @else if (tasks.hasValue()) {
        <div class="flex justify-evenly w-1/2">
            <div class="flex gap-4 items-center"><h2>Tasks</h2></div>
            <!--<span [ngStyle]="{'background-color': tasks.value()?.at(0)!.state?.color}" class="tag">{{tasks.value()?.at(0)!.state?.name}}</span>-->
        </div>

        <div class="w-1/2 max-h-96 overflow-y-auto">
            <p-dataview [value]="tasks.value()">
                <ng-template #list let-items>
                    <div [class]="'grid grid-cols-3 gap-7' + (items?.length ? 'p-4' : '')">
                        @for (item of items; track item.id) {
                            <p-card class="max-w-3xl cursor-pointer flex items-center gap-4">
                                <span [ngStyle]="{'background-color': item.color}" class="w-4 h-4 rounded-full shrink-0"></span>
                                <span class="shrink-0 cursor-pointer">{{item.name}}</span>
                            </p-card>
                        }
                    </div>
                </ng-template>
            </p-dataview>
        </div>
    }
</main>
