@if(project.error()) {
    Can't find project {{projectId()}} : {{project.error() | json}}
} @else if(project.isLoading()) {
    <div class="h-full w-full p-4 flex justify-center items-center m-8 mb-1 gap-8">
        <p-skeleton shape="circle" size="1.25rem"/>
        <p-skeleton width="10rem" height="2.25rem"/>
    </div>

    <main class="w-full p-4 flex flex-col justify-center items-center m-8 mt-1 gap-8">
        <div>
            <p-skeleton width="100%"/>
            <p-skeleton width="60%" />
            <p-skeleton width="75%" />
        </div>

        <div class="flex justify-evenly w-1/2">
            <h2>Tasks</h2>
            <div class="flex gap-2">
                <p-skeleton size="3rem"/>
                <p-skeleton size="3rem"/>
            </div>
        </div>

        <div class="flex justify-evenly gap-8 w-1/2 min-h-52">
            @for (state of [{id: 0}, {id: 1}, {id: 2}, {id: 3}]; track state.id) {
                <div class="flex flex-col items-center gap-4 w-full">
                    <p-skeleton width="5rem" height="2rem"/>
                    <p-skeleton width="100%" height="400px" />
                </div>
            }
        </div>
    </main>
} @else if (project.hasValue()) {
    @let p = project.value;

    <div class="h-full w-full p-4 flex justify-center items-center m-8 mb-1 gap-8">
        <p-inplace class="flex items-center" >
            <ng-template #display>
                <span [ngStyle]="{'background-color': p().color}" class="w-5 h-5 rounded-full shrink-0 block"></span>
            </ng-template>
            <ng-template #content let-closeCallback="closeCallback">
                <span class="inline-flex items-center gap-2">
                    <form #form="ngForm" (ngSubmit)="onSubmit('color', p().color)" class="flex flex-col gap-4">
                        <div class="flex items-center gap-2">
                            <p-colorpicker name="color" [(ngModel)]="p().color" #model="ngModel" required [defaultColor]="p().color" />
                            <button pButton severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></button>
                        </div>
                    </form>
                </span>
            </ng-template>
        </p-inplace>

        <p-inplace class="flex items-center">
            <ng-template #display>
                <h1>{{p().name}}</h1>
            </ng-template>
            <ng-template #content let-closeCallback="closeCallback">
                <span class="inline-flex items-center gap-2">
                    <form #form="ngForm" (ngSubmit)="onSubmit('name', p().name)" class="flex flex-col gap-4">
                        <div class="flex items-center gap-2">
                            <input name="name" pInputText type="text" [(ngModel)]="p().name" [pAutoFocus]="true" />
                            <button pButton severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></button>
                        </div>
                    </form>
                </span>
            </ng-template>
        </p-inplace>
    </div>

    <main class="w-full p-4 flex flex-col justify-center items-center m-8 mt-1 gap-8">
        <p-inplace class="flex items-center">
            <ng-template #display>
                <p>{{!p().description?.length ? 'Write your description here' : p().description}}</p>
            </ng-template>
            <ng-template #content let-closeCallback="closeCallback">
                <span class="inline-flex items-center gap-2">
                    <form #form="ngForm" (ngSubmit)="onSubmit('description', p().description)" class="flex flex-col gap-4">
                        <div class="flex items-center gap-2">
                            <textarea name="description" rows="5" cols="30" pTextarea [(ngModel)]="p().description" [pAutoFocus]="true"></textarea>
                            <button pButton severity="contrast" icon="pi pi-check" (click)="closeCallback($event)"></button>
                        </div>
                    </form>
                </span>
            </ng-template>
        </p-inplace>

        @if (p().id) {
            <div class="flex justify-evenly w-1/2">
                <h2>Tasks</h2>
                <div class="flex gap-2">
                    @if(p().states?.length) {
                        <p-button (click)="editTask(null)"><i class="pi pi-plus"></i></p-button>
                    }
                    <p-button (click)="this.isInKanbanSettings.set(true)"><i class="pi pi-cog"></i></p-button>
                </div>
            </div>

            <div class="flex justify-around overflow-auto gap-8 w-4/5 min-h-52">
                @for (state of p().states; track state.id) {
                    <div class="flex flex-col items-center gap-4 w-full max-w-[90%] min-w-[20rem]">
                        <span [ngStyle]="{'background-color': state.color + '88'}" class="p-1 rounded text-xs uppercase">{{state.name}}</span>
                        <p-card [ngStyle]="{'background-color': state.color + '10'}" class="w-full h-full overflow-auto droppable"
                            cdkDropList
                            [id]="state.id + ' ' + state.name"
                            cdkDropListSortingDisabled
                            [cdkDropListData]="(p().tasks ?? []).filter(t => t.state?.id === state.id).map(t => t.id + '')"
                            [cdkDropListConnectedTo]="(p().states ?? []).filter(s => s.id !== state.id).map(s => s.id + ' ' + s.name)"
                            (cdkDropListDropped)="onDrop($event)">
                            <div class="flex flex-col p-2 gap-4">
                                @for (task of p().tasks; track task.id) {
                                    @if(task.state?.id === state.id) {
                                        <button (click)="editTask(task.id!)">
                                            <p-card class="draggable" cdkDrag [cdkDragData]="task.id">
                                                <div class="flex justify-between">
                                                    <div class="grow flex flex-col gap-1.5">
                                                        <p class="text-left">{{task.name}}</p>

                                                        @if (task.tags?.length) {
                                                            <div class="flex flex-wrap gap-1">
                                                                @for (tag of task.tags; track tag.id) {
                                                                    <span [ngStyle]="{'background-color': tag.color + '88'}" class="p-1 rounded text-xs">{{tag.name}}</span>
                                                                }
                                                            </div>
                                                        }
                                                    </div>

                                                    @if (task.dependencies?.length) {
                                                        <i class="pi pi-link"></i>
                                                    }
                                                </div>
                                            </p-card>
                                        </button>
                                    }
                                }
                            </div>
                        </p-card>
                    </div>
                }
            </div>

            <button class="m-4 p-2 px-4 rounded bg-red-800 text-white flex gap-4 items-center" (click)="delete($event)">
                <i class="pi pi-trash"></i>
                <span>Delete project</span>
            </button>
        }
    </main>

    @if (project.hasValue() && project.value().id !== undefined) {
        <app-task-component [task]="editedTask()" [mainProjectId]="project.value().id!" [(visible)]="isEditingTask" [createCallback]="() => onCreateTask()" [deleteCallback]="(task) => onDeleteTask(task)" />
    }
    <app-kanban-settings-component [project]="p()" [(visible)]="isInKanbanSettings" [onChangeSettings]="() => onEditKanbanSettings()" />
    <p-confirmdialog />
}
<p-toast/>